<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4bglfwZS8hbQ7Pclmu-kCSTxXxzZZlQU</string>
	<key>GCM_SENDER_ID</key>
	<string>879960378591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carejar</string>
	<key>PROJECT_ID</key>
	<string>carejar</string>
	<key>STORAGE_BUCKET</key>
	<string>carejar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879960378591:ios:13207daad0916e76856d6a</string>
	<key>DATABASE_URL</key>
	<string>https://carejar-default-rtdb.firebaseio.com</string>
</dict>
</plist>